@import url("https://fonts.googleapis.com/css2?family=Share+Tech&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #000072;
  --color-secondary: #41578c;
  --color-dark-mode: #191313;
  --color-light-mode: #f5f0e9;
  --color-accent: #a40b0d;
  /* --color-sunset: #6d072f; */
  --color-sunset: #802b36;

  --breakpoint-xs: 428px;
  --breakpoint-xxs: 364px;

  --font-jost: "Jost", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}
/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:where(.dark, .dark *));

/* Set Space Grotesk as the default font for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-space-grotesk);
}

/* Set Jost as the default font for body text */
body,
p,
div,
span,
button,
a,
input,
textarea,
select,
option {
  font-family: var(--font-jost);
}

/* Hide scrollbars but keep scroll functionality */
html {
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Button hover effects class */
.email-hover {
  @apply relative transition-all duration-300 ease-out cursor-pointer border-b-2 border-light-mode/40;
}

.email-hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(65, 87, 140, 1); /* secondary/50 */
  transition: width 0.3s ease-out;
}

.email-hover:hover::after {
  width: 100%;
}

.register-hover {
  @apply relative overflow-hidden cursor-pointer border-2 border-secondary/50;
  transition: border-color 0.3s ease-out;
}

.register-hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(245, 240, 233, 0.85);
  border-radius: 50%;
  transform: translate(-50%, 50%);
  transition: all 0.3s ease-out;
  z-index: -1;
}

.register-hover:hover::before {
  width: 300%;
  height: 300%;
}

.register-hover:hover {
  @apply border-secondary/70;
}

.register-hover * {
  position: relative;
  z-index: 2;
  background: linear-gradient(
    135deg,
    transparent 0%,
    var(--color-dark-mode) 100%
  );
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  -webkit-background-clip: text;
  background-clip: text;
  transition: background-size 0.3s ease-out, color 0.3s ease-out;
}

.register-hover:hover * {
  background-size: 100% 100%;
  color: var(--color-dark-mode);
}

.heading-gradient {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-accent)
  );
  -webkit-background-clip: text;
  background-clip: text;
}
