@import url("https://fonts.googleapis.com/css2?family=Share+Tech&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #000072;
  --color-secondary: #41578c;
  --color-dark-mode: #191313;
  --color-light-mode: #f5f0e9;
  --color-accent: #a40b0d;

  --breakpoint-xs: 428px;
  --breakpoint-xxs: 364px;

  --font-jost: "Jost", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}
/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:where(.dark, .dark *));

/* Set Space Grotesk as the default font for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-space-grotesk);
}

/* Set Jost as the default font for body text */
body,
p,
div,
span,
button,
a,
input,
textarea,
select,
option {
  font-family: var(--font-jost);
}

/* Hide scrollbars but keep scroll functionality */
html {
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Button hover effects class */
.hero-button-hover {
  @apply transition-all duration-300 ease-out cursor-pointer hover:shadow-md hover:shadow-white/10 hover:-translate-y-0.5 hover:scale-[1.01] active:scale-[0.99];
}
